<footer class="background-color text-white mt-5 fixed-bottom">
    <div class="container py-3">
       
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="text-white mb-0 font-size">&copy; 2024 Flight Fare Prediction System </p>
            </div>
        </div>
    </div>
</footer>

<style>
    footer {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #144563; 
        color: #ffffff; 
        text-align: left;
        font-size: 20px;
    }

    footer p {
        margin-bottom: 0; 
    }
</style>
